html {
  scroll-behavior: smooth;
}

.column {  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


a{
  font-size: large;
}

img {
  height: 35vh;;
}

#logo {
  height: 35vh;;
}

p,body,html,tr {
  font-family: "Montserrat";
  font-size: x-large;
}

h1,h2,h3,h4,h5,h6,h7 {
  font-family: "Gugi";
}

h1 {
  font-family: "Gugi";
  font-size: xxx-large;
  color:#064789;
}
h2 {
  font-family: "Gugi";
  font-size: xx-large;
}
p,h1 {
  margin: 0px;
  padding: 0px;
}
h1.page-header {
  margin: 0;
  padding: 0;
}

h3.page-header {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  width: 100%;
  align-items: stretch
}

.flex-container > div {
  margin: 5px;
  padding: 5px;
  text-align: center;
  flex-basis: 100%;
  flex: 1;
}

.flex-container2 {
  display: flex;
  width: 100%;
  align-items: center
}

.flex-container2 > div {
  margin: 5px;
  padding: 5px;
  text-align: center;
  flex-basis: 100%;
  flex: 1;
}

#desc{
  padding: 50px;
  text-align: left;
  float: left;
  width:350px
}

.blurb {
  font-size: small;
  font-family: "Montserrat";
  color: #064789;
}

.no {
  background-color: #F7B1AB;
  color: #89043D;
}

.yes {
  background-color: #c5e6a6;
  color: #56a3a6;
}

#content {
  color: #ffffff;
  height: 75vh;
  background-image: url('assets/car2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  padding: 50px;
  animation-name: initAnim2;
  animation-duration: 3s;
  position: relative;
  
}

#line-one{
    height: 1px;
    border-top: 1px;
    border-color: solid #0000FF;
}

#line-two{
    border-top: dotted 1px;
    border-color: solid #0000FF;
}

#title{
  margin-top: 20vh;
  float: right;
  text-align: right;
  color: #FEF7DB;
  text-shadow: 2px 2px 5px #064789;
}

#greeting-container {
  margin-top: 20px;
}

body{
  background-color: #FEF7DBff;
}


hr{
 height: 1px;
 border-top: 1px solid #0000FF;
}

li{
   color: #ffffff;
   font-size: x-large; 
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: #064789;
  animation-name: navBarAnim;
  animation-duration: 3s;
  position: relative;
}

.topnav a {
  float: left;
  color: #FEF7DB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #FEF7DBff;
  color: #064789;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

@keyframes initAnim{
  0%   { top:100vh; }
  100% { top:0px;}
}


@keyframes initAnim2{
  0%   {left:100vw;}
  100%  {left: 0vw;}
}

@keyframes navBarAnim{
  0%   {right:100vw;}
  100%  {right: 0vw;}
}

#intro-panel{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  animation-name: initAnim;
  animation-duration: 3s;
  position: relative;
}
#intro{
    margin: 0 auto;
    color: #000000;
    font-size: x-large; 
}

#overview-panel{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #FEF7DB;
  background-image: url('assets/mosaic.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  animation-name: initAnim;
  animation-duration: 3s;
  position: relative;
}

#overview{
  margin-left: 0vw;
  color: #ffffff;
  font-size: x-large;
}

#snapshot-panel{
  font-size: x-large; 
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  animation-name: initAnim;
  animation-duration: 3s;
  position: relative;
}

#snapshot{
    margin: 0 auto;
    margin-top: 0vh;
    color: #000000;
}

#yes-panel{
  display: flex;
  flex-wrap: wrap;
  height: 120vh;
  background-image: url('https://i.pinimg.com/originals/c6/20/ca/c620caef7766c43a20b3ab81b2ebcbc0.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  animation-name: initAnim;
  animation-duration: 3s;
  position: relative;
}

#yep{
  margin: 0 auto;
  text-align: center;
  color: #c5e6a6;
  font-size: x-large;
  background-color: #56a3a6;
}

#no-panel{
  display: flex;
  flex-wrap: wrap;
  height: 120vh;
  background-image: url('https://i.pinimg.com/originals/c6/20/ca/c620caef7766c43a20b3ab81b2ebcbc0.png');
  background-color: #89043D;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  animation-name: initAnim;
  animation-duration: 3s;
  position: relative;
}

#nope{
  margin: 0 auto;
  text-align: center;
  color: #F7B1AB;
  font-size: x-large;
  background-color: #89043D;
}

#comments-panel{
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  animation-name: initAnim;
  animation-duration: 3s;
  position: relative;
}

#comments{
  color: #000000;
  font-size: large;
  font-family: Courier New;
}

#dynamic-history{
    margin-top: 0px;
    width: 100vw;
    margin-right: 10vw;
    border-style: solid;
    padding: 50px;
}


label{
    font-size:large;
    color: #000000;
    font-family: Courier New;
}

#submit-button{
    background-color: #ffffff;
    padding: 25px;
    color: #386daa;
    font-family: Courier New;
    border-style: solid; 
    border-color: #386daa; 
}

#submit-button:hover{
    background-color: #386daa;
    color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}